.about {
  .page-header {
    padding-bottom: 9px;
    margin: 40px 0px 20px;
    border-bottom: 1px solid #EEE;
  }
  img.avatar {
    border-radius: 200px;
    border: 1px solid #E0E0E0;
    @media screen and (max-width: 1040px){
      margin: 20px;
    }
    @media screen and (max-width: 600px){
      margin: 20px;
    }
  }
  .details {
    p {
      padding: 7px 0px;
    }
  }
}
